Django==2.2.4
django-admin-interface==0.10.5
django-bootstrap4==0.0.8
django-ckeditor==5.7.1
django-colorfield==0.1.15
django-extensions==2.2.1
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-js-asset==1.2.2
pep8==1.7.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
